<form >
  <label>Input your password:
    <input class="password" name="password" (input)="inputPassword($event)" [(ngModel)]="password"/>
  </label>
  <button type="submit" class="openForm" (click)="addPassword($event); reset()" [disabled]="password ===''">Open form</button>
</form>
<form class="forImg" *ngIf="showForm" >
  <input class="forImg" type="text" placeholder="Image title" (input)="inputTitle($event)" [(ngModel)]="imgTitle"/>
  <input class="forImg" type="text" placeholder="Image URL" (input)="inputURL($event)" [(ngModel)]="imgURL"/><br>
  <button class="forImg" [disabled]="imgTitle===''&& imgURL=== ''"  (click)=" onAddImg($event) "   >Add image</button>
</form>
<hr>
<div class="images-container" (submit)="onAddImg($event) ">
  <app-image-card
    *ngFor="let images of images"
    [imgTitle]="images.imgTitle"
    [imgURL]="images.imgURl"

  ></app-image-card>
</div>

