.password{
  padding: 10px;

}
form{
  margin: 20px;
  color: midnightblue;
}
.openForm{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  padding: 8px ;
}
.openForm:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.forImg{
  padding: 15px;
  color: midnightblue;
  margin: 10px;
}
.images-container{
  display: flex;
}
