<div class="lottery">
  <button class="newNumbers" (click)="addRandomNumber()">New numbers</button>
  <div class="numbers" *ngIf="showNumber">
    <div class="number"
         (submit)="addRandomNumber()"
         *ngFor="let number of numberArray"
    >{{number}}</div>
  </div>

</div>

