.newNumbers {
  transition-duration: 0.4s;
  box-shadow: 1px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 50px;
  padding: 20px;
  font-size: 25px;
}
.numbers{
  display: flex;
}

.newNumbers:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.number{
  border-radius: 50%;
  background-color: gray;
  color: black;
  border: 2px solid #4CAF50;
  max-width: 30px;
  text-align: center;
  margin: 20px;
  padding: 15px;
}

